<!-- Header Desktop e mobile-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokemon  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Bootstrap   Botões do menu(Ionic Docs) -->
  <ion-row>
    <ion-col size="12">
      <ion-segment value="pokemon" (ionChange)="selecionarCards($event)"> <!-- IonChange chama uma função -->
        <ion-segment-button value="pokemon">
          <ion-label>Pokemon</ion-label>
        </ion-segment-button>
        <ion-segment-button value="pokemon_adventure">
          <ion-label>Pokemon Adventure</ion-label>
        </ion-segment-button>
        <ion-segment-button value="pokemon_at_home">
          <ion-label>Pokemon at home</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>

  <!-- Bootstrap Cards Desenvolvimento de Sistemas -->
  <ng-container *ngIf="this.item_selecionado == 'pokemon'">
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://media.gettyimages.com/id/51100698/pt/foto/1999-vulpix-geodude-pidgeot-charizard-onix-staryu-coldeen-zubat-and-psyduck-in-the-animated.jpg?s=612x612&w=0&k=20&c=xYdWXRRXds2tLwdz7sbZKscvo5pGWjcYmrvVGWUWp4c=" />
          <ion-card-header>
            <ion-card-title>Charizard Run</ion-card-title>
            <ion-card-subtitle>Charizard</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card> 
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://media.gettyimages.com/id/51100698/pt/foto/1999-vulpix-geodude-pidgeot-charizard-onix-staryu-coldeen-zubat-and-psyduck-in-the-animated.jpg?s=612x612&w=0&k=20&c=xYdWXRRXds2tLwdz7sbZKscvo5pGWjcYmrvVGWUWp4c=" />
          <ion-card-header>
            <ion-card-title>Charizard Run</ion-card-title>
            <ion-card-subtitle>Charizard</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card> 
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://media.gettyimages.com/id/51100698/pt/foto/1999-vulpix-geodude-pidgeot-charizard-onix-staryu-coldeen-zubat-and-psyduck-in-the-animated.jpg?s=612x612&w=0&k=20&c=xYdWXRRXds2tLwdz7sbZKscvo5pGWjcYmrvVGWUWp4c=" />
          <ion-card-header>
            <ion-card-title>Charizard Run</ion-card-title>
            <ion-card-subtitle>Charizard</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card> 
      </ion-col>
    </ion-row>
  </ng-container>

    <!-- Bootstrap Cards Infomática para Internet -->
  <ng-container *ngIf="this.item_selecionado == 'pokemon_adventure'">
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://media.gettyimages.com/id/51100699/pt/foto/1999-pikachu-psyduck-togepy-squirtle-in-the-animated-movie-pokemon-the-first-movie.jpg?s=612x612&w=0&k=20&c=Bn-brQqKjh-dSV3Mez1QG_uZvuySDtvK8X43T6mBz9I=" />
          <ion-card-header>
            <ion-card-title>Pikachu</ion-card-title>
            <ion-card-subtitle>Pikachu scared</ion-card-subtitle>
          </ion-card-header>
      
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card> 
      </ion-col>
  
      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://media.gettyimages.com/id/51100699/pt/foto/1999-pikachu-psyduck-togepy-squirtle-in-the-animated-movie-pokemon-the-first-movie.jpg?s=612x612&w=0&k=20&c=Bn-brQqKjh-dSV3Mez1QG_uZvuySDtvK8X43T6mBz9I=" />
          <ion-card-header>
            <ion-card-title>Pikachu</ion-card-title>
            <ion-card-subtitle>Pikachu scared</ion-card-subtitle>
          </ion-card-header>
      
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card> 
      </ion-col>
  
      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://media.gettyimages.com/id/51100699/pt/foto/1999-pikachu-psyduck-togepy-squirtle-in-the-animated-movie-pokemon-the-first-movie.jpg?s=612x612&w=0&k=20&c=Bn-brQqKjh-dSV3Mez1QG_uZvuySDtvK8X43T6mBz9I=" />
          <ion-card-header>
            <ion-card-title>Pikachu</ion-card-title>
            <ion-card-subtitle>Pikachu scared</ion-card-subtitle>
          </ion-card-header>
      
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card> 
      </ion-col>
    </ion-row>
  </ng-container>
      <!-- Bootstrap Cards Quimica -->
  <ng-container *ngIf="this.item_selecionado == 'pokemon_at_home'">
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://media.gettyimages.com/id/51100701/pt/foto/1999-cubone-raichu-snubble-and-marrill-in-the-animated-movie-pokemon-the-first-movie.jpg?s=612x612&w=0&k=20&c=p0hYMkb4lAKtAX99C4J56-lKEvGNncE-cUGIVafEA-o=" />
          <ion-card-header>
            <ion-card-title>Raichu</ion-card-title>
            <ion-card-subtitle>Raichu Happy</ion-card-subtitle>
          </ion-card-header>
      
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card> 
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://media.gettyimages.com/id/51100701/pt/foto/1999-cubone-raichu-snubble-and-marrill-in-the-animated-movie-pokemon-the-first-movie.jpg?s=612x612&w=0&k=20&c=p0hYMkb4lAKtAX99C4J56-lKEvGNncE-cUGIVafEA-o=" />
          <ion-card-header>
            <ion-card-title>Raichu</ion-card-title>
            <ion-card-subtitle>Raichu Happy</ion-card-subtitle>
          </ion-card-header>
      
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card> 
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://media.gettyimages.com/id/51100701/pt/foto/1999-cubone-raichu-snubble-and-marrill-in-the-animated-movie-pokemon-the-first-movie.jpg?s=612x612&w=0&k=20&c=p0hYMkb4lAKtAX99C4J56-lKEvGNncE-cUGIVafEA-o=" />
          <ion-card-header>
            <ion-card-title>Raichu</ion-card-title>
            <ion-card-subtitle>Raichu Happy</ion-card-subtitle>
          </ion-card-header>
      
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card> 
      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>