$primary-color: #eeee;

.calendario{
  margin-top: 1.3rem;
  &__mes,
  &__ano,
  &__dia-semana,
  &__dia{
    font-size: 1rem;
    color:#89CDE0;
  }

  &__foto,
  &__background{
    border-radius: 10px;
  }

  &__mes,
  &__ano{
    font-size: 1.7rem;
    font-weight: bold;
  }

  &__background{
    background-color: #00040D;
    padding: 2rem;
  }

  &__dia-semana{
    text-transform: uppercase;
    font-weight: bold;
  }

  &__dia:hover{
    border-radius: 10px;
      padding: 0.7rem;
      background-color: #5E9FBF;
  }
}

@media (max-width:740px){
  .calendario{
    &__mes,
    &__ano,
    &__dia-semana,
    &__dia{
      font-size: 0.6rem;
      color:#89CDE0;
    }

    &__background{
      background-color: #00040D;
      padding: 1rem;
      width: 10rem;
    }
  }
}